<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission tools:node="merge" android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"
        tools:ignore="ProtectedPermissions"
        />

    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <queries>
        <package android:name="com.google.android.gms" />
        <package android:name="com.android.vending" />
        <intent>
            <action android:name="com.google.android.gms.ads.service.START" />
        </intent>
    </queries>

    <application
        android:name="com.skysoftlk.vpnapp.App"
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"

        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:replace="android:networkSecurityConfig"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.skysoftlk.vpnapp.Activities.Apps_Picker"/>
        <activity android:name="com.skysoftlk.vpnapp.Activities.Black_Battery_Saver" />
        <activity android:name="com.skysoftlk.vpnapp.Activities.Saving_Power_Comp" />
        <activity android:name="com.skysoftlk.vpnapp.Activities.UApplying" />
        <activity android:name="com.skysoftlk.vpnapp.Activities.NormalMode" />
        <activity android:name="com.skysoftlk.vpnapp.Activities.UPopUp" />
        <activity android:name="com.skysoftlk.vpnapp.Activities.PopUp_SavingPower" />
        <activity android:name="com.skysoftlk.vpnapp.Activities.BatteryActivity" />
        <activity android:name="com.skysoftlk.vpnapp.Activities.ScannerCPU" />
        <activity android:name="com.skysoftlk.vpnapp.Activities.CPUCoolerActivity" />
        <activity android:name="com.skysoftlk.vpnapp.Activities.SpeedBoosterActivity" />
        <activity android:name="com.skysoftlk.vpnapp.Activities.UnlockAllActivity" />
        <activity
            android:name="com.skysoftlk.vpnapp.Activities.ContentsActivity"
            android:label="@string/app_name">
        </activity>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3091157984447781~6792582877" />

        <!-- Optimization flags to prevent SecurityExceptions in GoogleApiManager and reduce startup latency -->
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"
            tools:replace="android:resource" />

        <activity
            android:name="com.skysoftlk.vpnapp.Activities.IntroActivity"
            android:theme="@style/AppTheme1" />
        <activity
            android:name="com.skysoftlk.vpnapp.Activities.SplashScreen"
            android:theme="@style/Splashscreentheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.skysoftlk.vpnapp.Activities.Servers"
            android:parentActivityName="com.skysoftlk.vpnapp.Activities.MainActivity" />
        <activity android:name="com.skysoftlk.vpnapp.Activities.MainActivity" />
        <activity android:name="com.facebook.ads.AudienceNetworkActivity" android:hardwareAccelerated="true" />

        <service
            android:name="top.oneconnectapi.app.core.OpenVPNService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="true"
            android:foregroundServiceType="specialUse"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="VPN connection" />
        </service>

        <activity
            android:name="top.oneconnectapi.app.DisconnectVPNActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity=".DisconnectVPN"
            android:theme="@style/blinkt.dialog" />




        <!-- OneSignal -->
        <!-- OneSignal components are now automatically added to the manifest by the OneSignal SDK.
             Manual declarations are no longer required and may cause errors if they reference removed classes. -->
        <!-- OneSignal -->

    </application>

</manifest>